@use '../../helpers' as *;

%different-colors-columns-titles {
  &[data-column-type='In Progress'] {
    .taskManagement {
      border-bottom: rem(4) solid var(--color-kanban-columns-title-in-progress);

      .taskType {
        &::before {
          background-color: var(--color-kanban-columns-title-in-progress);
        }

        .tasksCount {
          background-color: var(--color-kanban-columns-title-in-progress-tasks-count);
        }
      }
    }
  }

  &[data-column-type='Done'] {
    .taskManagement {
      border-bottom: rem(4) solid var(--color-kanban-columns-title-done);

      .taskType {
        &::before {
          background-color: var(--color-kanban-columns-title-done);
        }

        .tasksCount {
          background-color: var(--color-kanban-columns-title-done-tasks-count);
        }
      }
    }
  }
}



.container {
  @include container-limit(1600, 32);

  
  margin-top: rem(50);

  .headerPage {

    margin-bottom: rem(120);

    .title {
      @include fluid-text(46, 16);

      font-weight: 600;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: rem(40);
    

    .taskColumn {
      // @include container-limit(760, 20);

      background-color: var(--color-kanban-columns-background);
      border-radius: rem(20);
      padding-inline: rem(20);
      

      @extend %different-colors-columns-titles;


      .taskManagement {
        display: flex;
        position: sticky;
        top: rem(0);
        background-color: var(--color-kanban-columns-background);
        padding-bottom: rem(20);
        border-bottom: rem(4) solid var(--color-kanban-columns-title-todo);
        justify-content: space-between;
        padding-top: rem(20);
        margin-bottom: rem(30);

        .taskType {
          @include fluid-text(24, 16);

          &::before {
            content: '';
            display: inline-block;
            border-radius: 50%;
            width: rem(14);
            height: rem(14);
            margin-right: rem(16);
            margin-left: rem(8);
            background-color: var(--color-kanban-columns-title-todo);

          }

          .tasksCount {
            @include fluid-text(18, 14);


            background-color: var(--color-kanban-columns-title-todo-tasks-count);
            margin: rem(8);
            padding: rem(4) rem(10) rem(4) rem(9);
            border-radius: rem(7) rem(7) rem(7) rem(7);
          }
        }

        .createTaskButton {
          border: none;
          background-color: transparent;

          .createTask {
            width: rem(36);
            height: rem(36);
          }
        }
      }
    }
  }
}